#title{
    background-color: #ff4c68;
    color: #fff;
    position: relative;
    z-index: 0;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 7%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

.dwd{
    margin: 5% 6% 5% 0;
}

.title-img
{
    max-width: 23%;
    /* width: 30%; */
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.det-img
{
    /* padding: 0rem 12rem 1rem 12.5rem; */
    font-size: 4rem;
    color: #ef8172;
    padding-bottom: 1rem;
}

.det-img:hover
{
    color: #ff4c68;
}

.fet-size
{
    /* padding: 0px 4rem 0 5rem; */
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 900;
}

.fetp-size
{
    /* padding: 0rem 6rem 0rem 6rem; */
    color: #8f8f8f;
}

.fet-cont
{
    text-align: center;
    padding: 5%;
}

/* Testimonial Section */

#testimonials
{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item
{
    padding: 7% 15%;
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img
{
    width: 15%;
    margin: 20px 20px 20px;
}

/* Pricing Section */

#pricing
{
    padding: 100px;
    text-align: center;
}

.btn-sz
{
    width: 100%;
    position: relative;
}

.tags
{
    padding: 3% 2%;
}

#cta
{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

.btmctn
{
    padding: 7% 15%;
}

.h3style
{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.btmbtn
{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#footer
{
    background-color: #fff;
    text-align: center;
}

.foot-container
{
    padding: 7% 15%;
}

.btmicon
{
    margin: 1.5rem 0.5rem;
}

@media (max-width: 991px)
{
    #title
    {
        text-align: center;
    }

    .title-img
    {
        position: static;
        transform: rotate(0);
        max-width: 50%;
    }
}